In [1]:
range(1,11)

range(1, 11)

In [2]:
range(1,11,2)

range(1, 11, 2)

In [3]:
for num in range(1,11):
    print (num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for num in range(1,11,2):
    print (num)

1
3
5
7
9

In [5]:
for _ in range (1,11):
    print (_)

1
2
3
4
5
6
7
8
9
10

In [9]:
for num in range (1,11,2):
    print(num**2)

1
9
25
49
81

In [13]:
for num in range(1,11):
    if num %2 == 0:
        print ('Even number')
    else:
        print('Odd number')

Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number

In [14]:
num = 1
while num <11:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
num = 1
while num <11:
    if num %2 == 0:
        print('Even number')
    else:
        print('Odd number')
    num += 1

In [ ]:
[print('Even Number') if num%2 == 0 else print('Odd number') for num in range(11)]

In [4]:
my_list = []
for num in range(1,11):
    my_list.append(num**2)
    num += 1
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
[num**2 for num in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
[num*3 for num in range (4)]

[0, 3, 6, 9]

In [8]:
[[num*3 for num in range (4)] for num in range(5)]

[[0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9]]

In [9]:
name = ['Moussa','Sall','Idris','George']

In [10]:
dico = {k:v for k,v in enumerate (name)}

In [11]:
dico

{0: 'Moussa', 1: 'Sall', 2: 'Idris', 3: 'George'}

In [16]:
gpa = [4,3.9,3.8,3.5]

In [17]:
name_gpa = {k:v for k,v in zip(name,gpa)}
name_gpa

{'Moussa': 4, 'Sall': 3.9, 'Idris': 3.8, 'George': 3.5}

In [18]:
[[num**4 for num in range(5)] for num in range (10)]

[[0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256]]

In [20]:
fruit = ['Strawberry','Banana','Blueberry','Apple']

In [22]:
rating = [5,6,7,8]

In [24]:
fruit_rating = {k:v for k,v in zip(fruit,rating)}
fruit_rating

{'Strawberry': 5, 'Banana': 6, 'Blueberry': 7, 'Apple': 8}

In [25]:
def square_root_func(num):
    result = num**0.5
    return result
square_root_func(2)

1.4142135623730951

In [2]:
def square_func(val):
    my_list = []
    for val in range(11):
        my_list.append(val**2)
        val += 1
    return result
my_list

NameError: name 'my_list' is not defined

In [5]:
my_list = [2,-5,10,21,-17,55,-0.5,-78]
def replace_by_zero(my_list):
    for idx, num in enumerate(my_list):
        if num < 0:
            my_list[idx] = 0
    return my_list
replace_by_zero

In [6]:
replace_by_zero(my_list)

[2, 0, 10, 21, 0, 55, 0, 0]

In [8]:
def factorial_func(num):
    p = 1
    i = 1
    while i < num:
        p *= i
        i += 1
    return p
factorial_func(3)

2

In [16]:
p = 1
def factorial_num(num):
    for x in range(num,0,-1):
        p *= x
    return p
factorial_num(p)

UnboundLocalError: local variable 'p' referenced before assignment

In [14]:
def squares(num):
    result = num**2
    return result
squares(6)

36

In [19]:
l = lambda word: word[0]s\
l(6)

36

In [2]:
ano_list = [-1,4,-5,6,7,-11,20,21,33,-77]
map(replace_by_zero,ano_list)
list(map(l,ano_list))

NameError: name 'replace_by_zero' is not defined

In [3]:
ano_list = [-1,4,-5,6,7,-11,20,21,33,-77]
list(filter(lambda num: num %2 == 0, ano_list))

[4, 6, 20]

In [4]:
ano_list = [-1,4,-5,6,7,-11,20,21,33,-77]
list(filter(lambda num: num %2 == 0, ano_list))

[4, 6, 20]

In [31]:
md_list = [2,12,-3,-5,17,22,99,-88]
def make_negative(md_list):
    for idx, num in enumerate(md_list):
         if num %3 == 0:
            md_list[idx] = 0
    return md_list
make_negative(md_list)

[2, 0, 0, -5, 17, 22, 0, -88]

In [30]:
def range(alist):
    for i in range(len(alist)):
        if alist[i]%2 != 0:
            alist[i] = 0
    return alist

IndentationError: expected an indented block (2671204589.py, line 4)

In [6]:
seq = ['soup','dog','salad','cat','great']
list(filter(lambda word: word[0]=='s', seq))

['soup', 'salad']