In [1]:
range(1,11)

range(1, 11)

In [2]:
range(1,11,2)

range(1, 11, 2)

In [3]:
for num in range(1,11):
    print (num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for num in range(1,11,2):
    print (num)

1
3
5
7
9

In [5]:
for _ in range (1,11):
    print (_)

1
2
3
4
5
6
7
8
9
10

In [9]:
for num in range (1,11,2):
    print(num**2)

1
9
25
49
81

In [13]:
for num in range(1,11):
    if num %2 == 0:
        print ('Even number')
    else:
        print('Odd number')

Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number

In [14]:
num = 1
while num <11:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
num = 1
while num <11:
    if num %2 == 0:
        print('Even number')
    else:
        print('Odd number')
    num += 1

In [ ]:
[print('Even Number') if num%2 == 0 else print('Odd number') for num in range(11)]

In [4]:
my_list = []
for num in range(1,11):
    my_list.append(num**2)
    num += 1
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
[num**2 for num in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
[num*3 for num in range (4)]

[0, 3, 6, 9]

In [8]:
[[num*3 for num in range (4)] for num in range(5)]

[[0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9]]

In [9]:
name = ['Moussa','Sall','Idris','George']

In [10]:
dico = {k:v for k,v in enumerate (name)}

In [11]:
dico

{0: 'Moussa', 1: 'Sall', 2: 'Idris', 3: 'George'}

In [16]:
gpa = [4,3.9,3.8,3.5]

In [17]:
name_gpa = {k:v for k,v in zip(name,gpa)}
name_gpa

{'Moussa': 4, 'Sall': 3.9, 'Idris': 3.8, 'George': 3.5}

In [18]:
[[num**4 for num in range(5)] for num in range (10)]

[[0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256],
 [0, 1, 16, 81, 256]]

In [20]:
fruit = ['Strawberry','Banana','Blueberry','Apple']

In [22]:
rating = [5,6,7,8]

In [24]:
fruit_rating = {k:v for k,v in zip(fruit,rating)}
fruit_rating

{'Strawberry': 5, 'Banana': 6, 'Blueberry': 7, 'Apple': 8}

In [25]:
def square_root_func(num):
    result = num**0.5
    return result
square_root_func(2)

1.4142135623730951

In [28]:
def square_func(val):
    my_list = []
    for val in range(11):
        my_list.append(val**2)
        val += 1
    return result
my_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]