In [8]:
import pandas as pd
import numpy as np
import random
import string

In [2]:
data1 = [i for i in range(10)]
data1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
alphalist = list(string.ascii_uppercase)
print(alphalist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [10]:
index1 = [alphalist[i] for i in range(10)]
index1

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [15]:
serie1 = pd.Series(data=data1)
serie1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [14]:
dico = {k:v for k,v in zip(index1,data1)}

In [16]:
serie2 = pd.Series(dico)
serie2

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [23]:
df = pd.DataFrame(np.random.randn(5,5),index='A/B/C/D/E'.split('/'), columns = 'V/W/X/Y/Z'.split('/'))
df

          V         W         X         Y         Z
A  0.791382 -0.388610 -1.992065  1.067603  0.845566
B -0.423929 -1.043512  0.501501 -0.329520  1.329734
C  1.877252  1.434771 -2.270571 -1.016385  0.185847
D -0.291641 -1.376629  0.546409  0.247230  0.442949
E -0.739932 -0.243454 -0.318283 -0.408805 -1.550693

In [24]:
df[['V','X']]

          V         X
A  0.791382 -1.992065
B -0.423929  0.501501
C  1.877252 -2.270571
D -0.291641  0.546409
E -0.739932 -0.318283

In [27]:
df.iloc[0]

V    0.791382
W   -0.388610
X   -1.992065
Y    1.067603
Z    0.845566
Name: A, dtype: float64

In [28]:
df.loc['B']['V']

-0.42392861903349427

In [33]:
df[df['V']> 0]

          V         W         X         Y         Z
A  0.791382 -0.388610 -1.992065  1.067603  0.845566
C  1.877252  1.434771 -2.270571 -1.016385  0.185847

In [34]:
df['U'] = df['V']+df['Z'] #adds new column to data set

In [35]:
df['U'] > df['V']

A     True
B     True
C     True
D     True
E    False
dtype: bool