In [18]:
import pandas as pd
import numpy as np
import random 
import string
import numpy.random as randn

In [2]:
data1 = [i for i in range(10)]
data1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
alphalist = list(string.ascii_uppercase)
print(alphalist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [4]:
index1 = [alphalist[i] for i in range(10)]
index1

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [5]:
serie1 = pd.Series(data=data1)
serie1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [6]:
dico = {k:v for k,v in zip(index1,data1)}

In [7]:
serie2 = pd.Series(dico)
serie2

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [8]:
df = pd.DataFrame(np.random.randn(5,5),index='A/B/C/D/E'.split('/'), columns = 'V/W/X/Y/Z'.split('/'))
df

          V         W         X         Y         Z
A -2.269008 -1.102157 -0.532109 -1.877153 -1.241240
B -0.532843 -0.088259  0.243696  1.869592  1.353554
C  0.513238  0.394867  2.259690  0.700093  0.208198
D -1.071538 -0.766774 -1.005397 -0.083043  1.621917
E  0.121693  0.579165  0.512729 -0.858456 -0.729880

In [9]:
df[['V','X']]

          V         X
A -2.269008 -0.532109
B -0.532843  0.243696
C  0.513238  2.259690
D -1.071538 -1.005397
E  0.121693  0.512729

In [10]:
df.iloc[0]

V   -2.269008
W   -1.102157
X   -0.532109
Y   -1.877153
Z   -1.241240
Name: A, dtype: float64

In [11]:
df.loc['B']['V']

-0.532843283192903

In [12]:
df[df['V']> 0]

          V         W         X         Y         Z
C  0.513238  0.394867  2.259690  0.700093  0.208198
E  0.121693  0.579165  0.512729 -0.858456 -0.729880

In [13]:
df['U'] = df['V']+df['Z'] #adds new column to data set

In [14]:
df['U'] > df['V']

A    False
B     True
C     True
D     True
E    False
dtype: bool

In [20]:
df.iloc[0]

V   -2.269008
W   -1.102157
X   -0.532109
Y   -1.877153
Z   -1.241240
U   -3.510248
Name: A, dtype: float64

In [21]:
df.loc['A']

V   -2.269008
W   -1.102157
X   -0.532109
Y   -1.877153
Z   -1.241240
U   -3.510248
Name: A, dtype: float64

In [25]:
df[['W']]

          W
A -1.102157
B -0.088259
C  0.394867
D -0.766774
E  0.579165

In [27]:
df.loc['B']['X']

0.24369600778890443

In [29]:
df.loc['D']['X']

-1.005396774010314

In [30]:
df.loc['D']['Z']

1.6219169590346365

In [31]:
df[['X','Z']]

          X         Z
A -0.532109 -1.241240
B  0.243696  1.353554
C  2.259690  0.208198
D -1.005397  1.621917
E  0.512729 -0.729880

In [33]:
df.loc[['D']]

          V         W         X         Y         Z         U
D -1.071538 -0.766774 -1.005397 -0.083043  1.621917  0.550379

In [34]:
df.loc['D'][['X','Z']]

X   -1.005397
Z    1.621917
Name: D, dtype: float64

In [35]:
df[['X','Z']].loc['D']

X   -1.005397
Z    1.621917
Name: D, dtype: float64

In [36]:
df[['X','Z']].iloc[3]

X   -1.005397
Z    1.621917
Name: D, dtype: float64

In [37]:
df.head(2)

          V         W         X         Y         Z         U
A -2.269008 -1.102157 -0.532109 -1.877153 -1.241240 -3.510248
B -0.532843 -0.088259  0.243696  1.869592  1.353554  0.820711

In [38]:
df.head()

          V         W         X         Y         Z         U
A -2.269008 -1.102157 -0.532109 -1.877153 -1.241240 -3.510248
B -0.532843 -0.088259  0.243696  1.869592  1.353554  0.820711
C  0.513238  0.394867  2.259690  0.700093  0.208198  0.721436
D -1.071538 -0.766774 -1.005397 -0.083043  1.621917  0.550379
E  0.121693  0.579165  0.512729 -0.858456 -0.729880 -0.608186

In [39]:
df.tail()

          V         W         X         Y         Z         U
A -2.269008 -1.102157 -0.532109 -1.877153 -1.241240 -3.510248
B -0.532843 -0.088259  0.243696  1.869592  1.353554  0.820711
C  0.513238  0.394867  2.259690  0.700093  0.208198  0.721436
D -1.071538 -0.766774 -1.005397 -0.083043  1.621917  0.550379
E  0.121693  0.579165  0.512729 -0.858456 -0.729880 -0.608186

In [40]:
df.tail(2)

          V         W         X         Y         Z         U
D -1.071538 -0.766774 -1.005397 -0.083043  1.621917  0.550379
E  0.121693  0.579165  0.512729 -0.858456 -0.729880 -0.608186

In [43]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3'],'C':['C0','C1','C2','C3']},index =[0,1,2,3])

In [44]:
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],'B':['B4','B5','B6','B7'],'C':['C4','C5','C6','C7']},index =[0,1,2,3])

In [48]:
pd.concat([df1,df2])

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
0  A4  B4  C4
1  A5  B5  C5
2  A6  B6  C6
3  A7  B7  C7

In [49]:
pd.concat([df1,df2],axis=1)

    A   B   C   A   B   C
0  A0  B0  C0  A4  B4  C4
1  A1  B1  C1  A5  B5  C5
2  A2  B2  C2  A6  B6  C6
3  A3  B3  C3  A7  B7  C7