In [1]:
import pandas as pd
import numpy as np
import random 
import string
import numpy.random as randn

In [2]:
data1 = [i for i in range(10)]
data1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
alphalist = list(string.ascii_uppercase)
print(alphalist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [4]:
index1 = [alphalist[i] for i in range(10)]
index1

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [5]:
serie1 = pd.Series(data=data1)
serie1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [6]:
dico = {k:v for k,v in zip(index1,data1)}

In [7]:
serie2 = pd.Series(dico)
serie2

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [8]:
df = pd.DataFrame(np.random.randn(5,5),index='A/B/C/D/E'.split('/'), columns = 'V/W/X/Y/Z'.split('/'))
df

          V         W         X         Y         Z
A  0.554446  0.150407 -0.736481  1.270493  0.441225
B -0.647162  0.234616 -0.118257  0.537085 -1.745029
C -0.409342 -1.213557 -0.860554  0.324719  0.674619
D  0.180294 -0.664358  1.614560  1.213530 -0.581803
E -0.462310  0.877783 -0.563682  0.933217 -1.398274

In [9]:
df[['V','X']]

          V         X
A  0.554446 -0.736481
B -0.647162 -0.118257
C -0.409342 -0.860554
D  0.180294  1.614560
E -0.462310 -0.563682

In [10]:
df.iloc[0]

V    0.554446
W    0.150407
X   -0.736481
Y    1.270493
Z    0.441225
Name: A, dtype: float64

In [11]:
df.loc['B']['V']

-0.6471623202911538

In [12]:
df[df['V']> 0]

          V         W         X         Y         Z
A  0.554446  0.150407 -0.736481  1.270493  0.441225
D  0.180294 -0.664358  1.614560  1.213530 -0.581803

In [13]:
df['U'] = df['V']+df['Z'] #adds new column to data set

In [14]:
df['U'] > df['V']

A     True
B    False
C     True
D    False
E    False
dtype: bool

In [15]:
df.iloc[0]

V    0.554446
W    0.150407
X   -0.736481
Y    1.270493
Z    0.441225
U    0.995670
Name: A, dtype: float64

In [16]:
df.loc['A']

V    0.554446
W    0.150407
X   -0.736481
Y    1.270493
Z    0.441225
U    0.995670
Name: A, dtype: float64

In [17]:
df[['W']]

          W
A  0.150407
B  0.234616
C -1.213557
D -0.664358
E  0.877783

In [18]:
df.loc['B']['X']

-0.118256839192127

In [19]:
df.loc['D']['X']

1.6145595869176044

In [20]:
df.loc['D']['Z']

-0.5818030425206487

In [21]:
df[['X','Z']]

          X         Z
A -0.736481  0.441225
B -0.118257 -1.745029
C -0.860554  0.674619
D  1.614560 -0.581803
E -0.563682 -1.398274

In [22]:
df.loc[['D']]

          V         W        X        Y         Z         U
D  0.180294 -0.664358  1.61456  1.21353 -0.581803 -0.401509

In [23]:
df.loc['D'][['X','Z']]

X    1.614560
Z   -0.581803
Name: D, dtype: float64

In [24]:
df[['X','Z']].loc['D']

X    1.614560
Z   -0.581803
Name: D, dtype: float64

In [25]:
df[['X','Z']].iloc[3]

X    1.614560
Z   -0.581803
Name: D, dtype: float64

In [26]:
df.head(2)

          V         W         X         Y         Z         U
A  0.554446  0.150407 -0.736481  1.270493  0.441225  0.995670
B -0.647162  0.234616 -0.118257  0.537085 -1.745029 -2.392192

In [27]:
df.head()

          V         W         X         Y         Z         U
A  0.554446  0.150407 -0.736481  1.270493  0.441225  0.995670
B -0.647162  0.234616 -0.118257  0.537085 -1.745029 -2.392192
C -0.409342 -1.213557 -0.860554  0.324719  0.674619  0.265277
D  0.180294 -0.664358  1.614560  1.213530 -0.581803 -0.401509
E -0.462310  0.877783 -0.563682  0.933217 -1.398274 -1.860584

In [28]:
df.tail()

          V         W         X         Y         Z         U
A  0.554446  0.150407 -0.736481  1.270493  0.441225  0.995670
B -0.647162  0.234616 -0.118257  0.537085 -1.745029 -2.392192
C -0.409342 -1.213557 -0.860554  0.324719  0.674619  0.265277
D  0.180294 -0.664358  1.614560  1.213530 -0.581803 -0.401509
E -0.462310  0.877783 -0.563682  0.933217 -1.398274 -1.860584

In [29]:
df.tail(2)

          V         W         X         Y         Z         U
D  0.180294 -0.664358  1.614560  1.213530 -0.581803 -0.401509
E -0.462310  0.877783 -0.563682  0.933217 -1.398274 -1.860584

In [30]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3'],'C':['C0','C1','C2','C3']},index =[0,1,2,3])

In [31]:
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],'B':['B4','B5','B6','B7'],'C':['C4','C5','C6','C7']},index =[0,1,2,3])

In [32]:
pd.concat([df1,df2])

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
0  A4  B4  C4
1  A5  B5  C5
2  A6  B6  C6
3  A7  B7  C7

In [33]:
pd.concat([df1,df2],axis=1)

    A   B   C   A   B   C
0  A0  B0  C0  A4  B4  C4
1  A1  B1  C1  A5  B5  C5
2  A2  B2  C2  A6  B6  C6
3  A3  B3  C3  A7  B7  C7

In [34]:
left = pd.DataFrame({'key1': ['K0','K1','K2','K3'],'A': ['A0','A1','A2','A3'],'B': ['B0','B1','B2','B3']})
                    
right = pd.DataFrame({'key2': ['K0','K1','K2','K3'],'C': ['C0','C1','C2','C3'],'D': ['D0','D1','D2','D3']})

In [ ]:
df_out=pd.merge(left,right,how='outer',on='key')
df_out

In [ ]:
left = pd.DataFrame({'A': ['A0','A1','A2'],'B': ['B0','B1','B2']}, index=['K0','K1','K2'])

right = pd.DataFrame({'C': ['C0','C2','C3'],'D': ['D0','D2','D3']}, index=['K0','K2','K3'])

In [ ]:
left.join(right) #common keys plus intersection

In [ ]:
display(left,right)